/* BASELINE STYLES */

html, body{
    overflow-x: hidden;
    margin:0;
    max-width: 100%;
    font-size: 75%;
}

@media only screen and (max-device-width: 480px) {
	html { font-size: 100%;}
}

section{

    height: 150px;
    width: 100%;
    opacity: 0;

}

div{
    display: inline-block;
    width:100%;
}

h1{

    font-family: 'Bebas Neue', cursive;
    font-size: 18em;
    font-weight: 400;
    position:static;
    display:block;
    text-align: center;
    color: rgb(15,24,43)
    

}

h2{

}

p{
    color:rgb(0,0,0);
    font-family: 'Open Sans', sans-serif;
}

a{
    color:rgb(0,0,0);
}

.box{

    width:45%;
    min-width: 350px;
    height: 250px;
    padding: 0 2% 0;

}


/*        SPECIFICS         */

/* IMAGES */

.centerimage{

    display:block;
    padding: 7% 10% 2%;
    height: 50%;
    max-height: 500px;
    width: 80%;
    max-width: 1000px;
    min-width: 200px;
    object-fit: cover;
    object-position: left;
    margin-left: auto;
    margin-right: auto;
    

}

.inbox{

    max-height: 100%;
    max-width: 100%;

    object-fit: contain;
    object-position: center;
    margin-left: auto;
    margin-right: auto;
    display:inline-block;

}

/* CONTACTME */

.logo{

    height: 15%;
    max-height: 300px;
    width: 15%;
    max-width: 300px;
    padding: 0 4.8% 2%;
    object-fit: scale-down;

}

/* ABOUTME */

p.about{

    font-weight: 400;
    font-size: 2.5rem;
    text-align: center;
    padding:2% 0 2%;

}

.bold {
    font-weight: bold;
}



/* HEADER */

.header{

    position:fixed;
    background-color: rgb(15,24,43);
    width:100%;
    padding: 20px 0 20px;
    top: 0;

    font-family: 'Secular One', sans-serif;
    font-weight: 400;
    font-size: large;

}

.header li{

    display:inline-block;
    padding: 5px 30px 5px;

}

.header a{

    font-size:18px;
    color:rgba(168,201,255,0.85);
    text-decoration: none;

}

a:hover{

    color:rgba(68,122,180,0.85);

}

/* FOOTER */

.footer{

    position:relative;
    background-color: rgb(15,24,43);
    width: 100%;
    padding: 20px 0 0;
    height: 40px;

    font-family: 'Secular One', sans-serif;
    font-weight: 400;
    bottom:0;
    left:0px;

}

p.footer{

    color:rgba(253, 243, 229, 0.925);
    text-decoration:none;
    font-size:18px;
    padding-left: 30px;

}

.name {

    color: rgba(168,201,255,0.85);
    text-decoration:none;
    font-size:18px;

}


/*   Transitions   */
