/* BASELINE STYLES */

h1{

}

h2{

}

p{
    color:rgb(0,0,0);
}

a{
    color:rgb(0,0,0);
}

/*        SPECIFICS         */


/* CONTACTME */

.logo img{

    height: 100%;
    width: 100%;
    min-height: 300px;
    min-width: 300px;

}





/* HEADER */

.header{

    position:fixed;
    background-color: rgb(15,24,43);
    width: 100%;
    padding: 20px 0;
    top: 0;

    font-family: 'Secular One', sans-serif;
    font-weight: 400;
    font-size: large;

}

.header li{

    display:inline-block;
    padding: 5px 30px 5px;

}

.header a{

    font-size:18px;
    color:rgba(168,201,255,0.85);
    text-decoration: none;

}

a:hover{

    color:rgba(68,122,180,0.85);

}

/* FOOTER */

.footer{

    position:absolute;
    background-color: rgb(15,24,43);
    width: 100%;
    /*padding: 20px 0;*/
    height: 40px;

    font-family: 'Secular One', sans-serif;
    font-weight: 400;
    bottom:0px;
    left:0px;

}

p.footer{

    color:rgba(253, 243, 229, 0.925);
    text-decoration:none;
    font-size:18px;
    padding-left: 30px;

}

.name {

    color: rgba(168,201,255,1);
    text-decoration:none;
    font-size:18px;

}